In [1]:
#Dependencies 
import requests
import json
import pandas as pd
import numpy as np
import os
import csv

#from config_edu import api_key

crimefile_path = "datasource/crime_data.csv"
crimefile_df = pd.read_csv(crimefile_path)
crimefile_df.head(1)

,jurisdiction,includes_jails,year,prisoner_count,crime_reporting_change,crimes_estimated,state_population,violent_crime_total,murder_manslaughter,rape_legacy,rape_revised,robbery,agg_assault,property_crime_total,burglary,larceny,vehicle_theft
0,FEDERAL,False,2001,149852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# Removing Federal Data as there are lot of NaN data.
crimefile_df = crimefile_df.loc[crimefile_df["jurisdiction"]!= "FEDERAL",:]
crimefile_df.head(1)

,jurisdiction,includes_jails,year,prisoner_count,crime_reporting_change,crimes_estimated,state_population,violent_crime_total,murder_manslaughter,rape_legacy,rape_revised,robbery,agg_assault,property_crime_total,burglary,larceny,vehicle_theft
1,ALABAMA,False,2001,24741,False,False,4468912.0,19582.0,379.0,1369.0,NaN,5584.0,12250.0,173253.0,40642.0,119992.0,12619.0

In [3]:
# Take one state
crimefile_df = crimefile_df.loc[crimefile_df["jurisdiction"]=="ARIZONA",:]
crimefile_df.head(1)

,jurisdiction,includes_jails,year,prisoner_count,crime_reporting_change,crimes_estimated,state_population,violent_crime_total,murder_manslaughter,rape_legacy,rape_revised,robbery,agg_assault,property_crime_total,burglary,larceny,vehicle_theft
3,ARIZONA,False,2001,27710,False,False,5306966.0,28675.0,400.0,1518.0,NaN,8868.0,17889.0,293874.0,54821.0,186850.0,52203.0

In [4]:
#Read Election Data 2000
election2000 = "datasource/Election Data 2000.csv"
election2000_df = pd.read_csv (election2000)
election2000_df.head(1)

,State,EV,EV.1,Total Vote,G,B,N,Margin,%Margin,Gore,Bush,Nader,Other,Gore.1,Bush.1,Nader.1,Other.1
0,Alabama,9,0,"1,672,551",2,1,3,"248,807",14.88%,41.59%,56.47%,1.10%,0.85%,"695,602","944,409","18,349","14,191"

In [5]:
#Add Column for year
election2000_df ["Year"] = 2000 
election2000_df.head(1)

,State,EV,EV.1,Total Vote,G,B,N,Margin,%Margin,Gore,Bush,Nader,Other,Gore.1,Bush.1,Nader.1,Other.1,Year
0,Alabama,9,0,"1,672,551",2,1,3,"248,807",14.88%,41.59%,56.47%,1.10%,0.85%,"695,602","944,409","18,349","14,191",2000

In [6]:
#identify columns & Rename Total Vote 
columns = election2000_df.columns 
election2000_df.rename(columns ={'Total\xa0Vote':'Total Vote'}, inplace = True)
election2000_df.head(1)

,State,EV,EV.1,Total Vote,G,B,N,Margin,%Margin,Gore,Bush,Nader,Other,Gore.1,Bush.1,Nader.1,Other.1,Year
0,Alabama,9,0,"1,672,551",2,1,3,"248,807",14.88%,41.59%,56.47%,1.10%,0.85%,"695,602","944,409","18,349","14,191",2000

In [7]:
#Change Columns from String to Floats
election2000_df['Other.1'] = election2000_df['Other.1'].str.replace(',','').astype(float)
election2000_df['Nader.1'] = election2000_df['Nader.1'].str.replace(',','').astype(float)
election2000_df['Bush.1'] = election2000_df['Bush.1'].str.replace(',','').astype(float)
election2000_df['Gore.1'] = election2000_df['Gore.1'].str.replace(',','').astype(float)
election2000_df['Total Vote'] = election2000_df['Total Vote'].str.replace(',','').astype(float)
election2000_df.head(1)

,State,EV,EV.1,Total Vote,G,B,N,Margin,%Margin,Gore,Bush,Nader,Other,Gore.1,Bush.1,Nader.1,Other.1,Year
0,Alabama,9,0,1672551.0,2,1,3,"248,807",14.88%,41.59%,56.47%,1.10%,0.85%,695602.0,944409.0,18349.0,14191.0,2000

In [8]:
#Create and Add Other Party - every Party outside Republican and Democrat - Total votes outside of Rep & Dem
election2000_df["Other Party"] = election2000_df['Nader.1'] + election2000_df['Other.1']
election2000_df.head(1)

,State,EV,EV.1,Total Vote,G,B,N,Margin,%Margin,Gore,Bush,Nader,Other,Gore.1,Bush.1,Nader.1,Other.1,Year,Other Party
0,Alabama,9,0,1672551.0,2,1,3,"248,807",14.88%,41.59%,56.47%,1.10%,0.85%,695602.0,944409.0,18349.0,14191.0,2000,32540.0

In [9]:
#Rename Presidents to their Parties
election2000_df.rename(columns = {'Gore.1': 'Democrat',
                                  'Bush.1': 'Republican',
                                  'Gore': 'Democrat_Perc',
                                  'Bush': 'Republican_Perc'}, inplace=True)

election2000_df.head(1)

,State,EV,EV.1,Total Vote,G,B,N,Margin,%Margin,Democrat_Perc,Republican_Perc,Nader,Other,Democrat,Republican,Nader.1,Other.1,Year,Other Party
0,Alabama,9,0,1672551.0,2,1,3,"248,807",14.88%,41.59%,56.47%,1.10%,0.85%,695602.0,944409.0,18349.0,14191.0,2000,32540.0

In [10]:
#Read 2004 Election Data, create Year column,create Other Party column, Replace all str with floats
election2004 = "datasource/Election Data 2004.csv"
election2004_df = pd.read_csv (election2004)
election2004_df ["Year"] = 2004
election2004_df.head(1)

,State,EV,EV.1,Total Vote,B,K,Margin,%Margin,Bush,Kerry,Other,Bush.1,Kerry.1,Other.1,Year
0,Alabama,9,0,"1,883,449",1,2,"482,461",25.62%,62.46%,36.84%,0.70%,"1,176,394","693,933","13,122",2004

In [11]:
#identify columns & Rename Total Vote 
columns = election2004_df.columns 
election2004_df.rename(columns ={'Total\xa0Vote':'Total Vote'}, inplace = True)
election2004_df.head(1)

,State,EV,EV.1,Total Vote,B,K,Margin,%Margin,Bush,Kerry,Other,Bush.1,Kerry.1,Other.1,Year
0,Alabama,9,0,"1,883,449",1,2,"482,461",25.62%,62.46%,36.84%,0.70%,"1,176,394","693,933","13,122",2004

In [27]:
#Change Columns from String to Floats

election2004_df['Kerry.1'] = election2004_df['Kerry.1'].replace(',','').astype(float)
election2004_df['Bush.1'] = election2004_df['Bush.1'].replace(',','').astype(float)
election2004_df['Total Vote'] = election2004_df['Total Vote'].replace(',','').astype(float)
election2004_df.head(1)

,State,EV,EV.1,Total Vote,B,K,Margin,%Margin,Bush,Kerry,Other,Bush.1,Kerry.1,Other.1,Year
0,Alabama,9,0,1883449.0,1,2,"482,461",25.62%,62.46%,36.84%,0.70%,1176394.0,693933.0,13122.0,2004

In [28]:
#Rename Presidents to their Parties
election2004_df.rename(columns = {'Kerry.1': 'Democrat',
                                  'Bush.1': 'Republican',
                                  'Kerry': 'Democrat_Perc',
                                  'Bush': 'Republican_Perc',
                                  'Other.1': "Other Party"}, inplace=True)
election2004_df.head(1)

,State,EV,EV.1,Total Vote,B,K,Margin,%Margin,Republican_Perc,Democrat_Perc,Other,Republican,Democrat,Other Party,Year
0,Alabama,9,0,1883449.0,1,2,"482,461",25.62%,62.46%,36.84%,0.70%,1176394.0,693933.0,13122.0,2004

In [29]:
#Read Election Data 2008,create Year column, 
#rename Total Vote, create Other Party column, Replace all str with floats
election2008 = "datasource/Election Data 2008.csv"
election2008_df = pd.read_csv (election2008)
election2008_df ["Year"] = 2008
election2008_df.head(1)

,State,EV,EV.1,Total Vote,O,M,Margin,%Margin,Obama,McCain,Other,Obama.1,McCain.1,Other.1,Year
0,Alabama,0,9,"2,099,819",2,1,"453,067",21.58%,38.74%,60.32%,0.94%,"813,479","1,266,546","19,794",2008

In [30]:
#List Columns
columns = election2008_df.columns
columns

Index(['State', 'EV', 'EV.1', 'Total Vote', 'O', 'M', 'Margin', '%Margin',
       'Obama', 'McCain', 'Other', 'Obama.1', 'McCain.1', 'Other.1', 'Year'],
      dtype='object')

In [31]:
#Find name to column "Total Vote"
columns[3]

'Total\xa0Vote'

In [33]:
#Rename Total Vote Column
columns = election2008_df.columns 
election2008_df.rename(columns ={'Total\xa0Vote':'Total Vote'}, inplace = True)
election2008_df.head(1)

,State,EV,EV.1,Total Vote,O,M,Margin,%Margin,Obama,McCain,Other,Obama.1,McCain.1,Other.1,Year
0,Alabama,0,9,"2,099,819",2,1,"453,067",21.58%,38.74%,60.32%,0.94%,"813,479","1,266,546","19,794",2008

In [35]:
#Change Columns from String to Floats
election2008_df['Other.1'] = election2008_df['Other.1'].str.replace(',','').astype(float)
election2008_df['Obama.1'] = election2008_df['Obama.1'].str.replace(',','').astype(float)
election2008_df['McCain.1'] = election2008_df['McCain.1'].str.replace(',','').astype(float)
election2008_df['Total Vote'] = election2008_df['Total Vote'].str.replace(',','').astype(float)
election2008_df.head(1)

,State,EV,EV.1,Total Vote,O,M,Margin,%Margin,Obama,McCain,Other,Obama.1,McCain.1,Other.1,Year
0,Alabama,0,9,2099819.0,2,1,"453,067",21.58%,38.74%,60.32%,0.94%,813479.0,1266546.0,19794.0,2008

In [36]:
#Rename Presidents to their Parties
election2008_df.rename(columns = {'Obama.1': 'Democrat',
                                  'McCain.1': 'Republican',
                                  'Obama': 'Democrat_Perc',
                                  'McCain': 'Republican_Perc',
                                  'Other.1': 'Other Party'}, inplace=True)

election2008_df.head(1)

,State,EV,EV.1,Total Vote,O,M,Margin,%Margin,Democrat_Perc,Republican_Perc,Other,Democrat,Republican,Other Party,Year
0,Alabama,0,9,2099819.0,2,1,"453,067",21.58%,38.74%,60.32%,0.94%,813479.0,1266546.0,19794.0,2008

In [37]:
#Read Election Data 2012
election2012 = "datasource/Election Data 2012.csv"
election2012_df = pd.read_csv (election2012)
election2012_df ["Year"] = 2012
election2012_df.head(1)

,State,EV,EV.1,Total Vote,O,R,Margin,%Margin,Obama,Romney,Other,Obama.1,Romney.1,Other.1,Year
0,Alabama,0.0,9.0,"2,074,338",2.0,1.0,"460,229",22.19%,38.36%,60.55%,1.10%,"795,696","1,255,925","22,717",2012

In [38]:
#List Columns
columns = election2012_df.columns
columns

Index(['State', 'EV', 'EV.1', 'Total Vote', 'O', 'R', 'Margin', '%Margin',
       'Obama', 'Romney', 'Other', 'Obama.1', 'Romney.1', 'Other.1', 'Year'],
      dtype='object')

In [39]:
#Find name to column "Total Vote"
columns[3]

'Total\xa0Vote'

In [40]:
#Rename Total Vote Column
columns = election2012_df.columns 
election2012_df.rename(columns ={'Total\xa0Vote':'Total Vote'}, inplace = True)
election2012_df.head(1)

,State,EV,EV.1,Total Vote,O,R,Margin,%Margin,Obama,Romney,Other,Obama.1,Romney.1,Other.1,Year
0,Alabama,0.0,9.0,"2,074,338",2.0,1.0,"460,229",22.19%,38.36%,60.55%,1.10%,"795,696","1,255,925","22,717",2012

In [44]:
#Change Columns from String to Floats
election2012_df['Other.1'] = election2012_df['Other.1'].replace(',','').astype(float)
election2012_df['Obama.1'] = election2012_df['Obama.1'].str.replace(',','').astype(float)
election2012_df['Romney.1'] = election2012_df['Romney.1'].str.replace(',','').astype(float)
election2012_df['Total Vote'] = election2012_df['Total Vote'].str.replace(',','').astype(float)
election2012_df.head(1)

,State,EV,EV.1,Total Vote,O,R,Margin,%Margin,Obama,Romney,Other,Obama.1,Romney.1,Other.1,Year
0,Alabama,0.0,9.0,2074338.0,2.0,1.0,"460,229",22.19%,38.36%,60.55%,1.10%,795696.0,1255925.0,22717.0,2012

In [45]:
#Rename Presidents to their Parties
election2012_df.rename(columns = {'Obama.1': 'Democrat',
                                  'Romney.1': 'Republican',
                                  'Obama': 'Democrat_Perc',
                                  'Romney': 'Republican_Perc',}, inplace=True)
election2012_df ["Other Party"] = election2012_df['Other.1']
election2012_df.head(1)

,State,EV,EV.1,Total Vote,O,R,Margin,%Margin,Democrat_Perc,Republican_Perc,Other,Democrat,Republican,Other.1,Year,Other Party
0,Alabama,0.0,9.0,2074338.0,2.0,1.0,"460,229",22.19%,38.36%,60.55%,1.10%,795696.0,1255925.0,22717.0,2012,22717.0

In [46]:
#Read Election Data 2016
election2016 = "datasource/Election Data 2016.csv"
election2016_df = pd.read_csv (election2016)
election2016_df ["Year"] = 2016
election2016_df.head(1)

,State,EV,EV.1,EV.2,Total Vote,C,T,J,Margin,%Margin,Clinton,Trump,Johnson,Other,Clinton.1,Trump.1,Johnson.1,Other.1,Year
0,Texas,36,0,2,"8,993,166",2,1,3,"807,179",8.98%,43.12%,52.10%,3.15%,1.63%,"3,877,868","4,685,047","283,492","146,759",2016

In [47]:
#List Columns
columns = election2016_df.columns
columns

Index(['State', 'EV', 'EV.1', 'EV.2', 'Total Vote', 'C', 'T', 'J', 'Margin',
       '%Margin', 'Clinton', 'Trump', 'Johnson', 'Other', 'Clinton.1',
       'Trump.1', 'Johnson.1', 'Other.1', 'Year'],
      dtype='object')

In [48]:
#Find name to column "Total Vote"
columns[4]

'Total\xa0Vote'

In [49]:
#Rename Total Vote Column
columns = election2016_df.columns 
election2016_df.rename(columns ={'Total\xa0Vote':'Total Vote'}, inplace = True)
election2016_df.head(1)

,State,EV,EV.1,EV.2,Total Vote,C,T,J,Margin,%Margin,Clinton,Trump,Johnson,Other,Clinton.1,Trump.1,Johnson.1,Other.1,Year
0,Texas,36,0,2,"8,993,166",2,1,3,"807,179",8.98%,43.12%,52.10%,3.15%,1.63%,"3,877,868","4,685,047","283,492","146,759",2016

In [50]:
#Change Columns from String to Floats
election2016_df['Other.1'] = election2016_df['Other.1'].str.replace(',','').astype(float)
election2016_df['Johnson.1'] = election2016_df['Johnson.1'].str.replace(',','').astype(float)
election2016_df['Clinton.1'] = election2016_df['Clinton.1'].str.replace(',','').astype(float)
election2016_df['Trump.1'] = election2016_df['Trump.1'].str.replace(',','').astype(float)
election2016_df['Total Vote'] = election2016_df['Total Vote'].str.replace(',','').astype(float)
election2016_df.head(1)

,State,EV,EV.1,EV.2,Total Vote,C,T,J,Margin,%Margin,Clinton,Trump,Johnson,Other,Clinton.1,Trump.1,Johnson.1,Other.1,Year
0,Texas,36,0,2,8993166.0,2,1,3,"807,179",8.98%,43.12%,52.10%,3.15%,1.63%,3877868.0,4685047.0,283492.0,146759.0,2016

In [51]:
#Rename Presidents to their Parties
election2016_df.rename(columns = {'Clinton.1': 'Democrat',
                                  'Trump.1': 'Republican',
                                  'Clinton': 'Democrat_Perc',
                                  'Trump': 'Republican_Perc',}, inplace=True)
election2016_df ["Other Party"] = election2016_df['Other.1']+ election2016_df['Other.1']
election2016_df.head(1)

,State,EV,EV.1,EV.2,Total Vote,C,T,J,Margin,%Margin,Democrat_Perc,Republican_Perc,Johnson,Other,Democrat,Republican,Johnson.1,Other.1,Year,Other Party
0,Texas,36,0,2,8993166.0,2,1,3,"807,179",8.98%,43.12%,52.10%,3.15%,1.63%,3877868.0,4685047.0,283492.0,146759.0,2016,293518.0

In [90]:
election2000data = pd.DataFrame(election2000_df, columns =['State','Year', 'Democrat', 'Republican', 'Other Party' ], copy=True)
election2004data = pd.DataFrame(election2004_df, columns =['State','Year', 'Democrat', 'Republican', 'Other Party' ], copy=True)
election2008data = pd.DataFrame(election2008_df, columns =['State','Year', 'Democrat', 'Republican', 'Other Party' ], copy=True)
election2012data = pd.DataFrame(election2012_df, columns =['State','Year', 'Democrat', 'Republican', 'Other Party' ], copy=True)
election2016data = pd.DataFrame(election2016_df, columns =['State','Year', 'Democrat', 'Republican', 'Other Party' ], copy=True)

In [93]:
full_election_data = election2000data.append([election2004data, election2008data, election2012data, election2016data])
full_election_data.head(1)

     State  Year  Democrat  Republican  Other Party
0  Alabama  2000  695602.0    944409.0      32540.0

In [118]:
full_election_data.dropna(inplace=True)

In [119]:
full_election_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260 entries, 0 to 51
Data columns (total 6 columns):
State          260 non-null object
Year           260 non-null int64
Democrat       260 non-null float64
Republican     260 non-null float64
Other Party    260 non-null float64
Winner         260 non-null object
dtypes: float64(3), int64(1), object(2)
memory usage: 14.2+ KB

In [196]:
dems = ((full_election_data["Democrat"]>full_election_data["Republican"]) & 
    (full_election_data["Democrat"]>full_election_data["Other Party"]))

In [217]:
rep = ((full_election_data["Republican"]>full_election_data["Democrat"]) & 
    (full_election_data["Republican"]>full_election_data["Other Party"]))

In [221]:
other = ((full_election_data["Other Party"]>full_election_data["Democrat"]) & 
    (full_election_data["Other Party"]>full_election_data["Republican"]))

In [197]:
len(dems)

260

In [218]:
len(rep)

260

In [222]:
len(other)

260

In [215]:
full_election_data.loc[dems,"Winner"] = "Democrat"

In [219]:
full_election_data.loc[rep,"Winner"] = "Republican"

In [223]:
full_election_data.loc[other,"Winner"] = "Other Party"

In [227]:
full_election_data.head()

            State  Year    Democrat  Republican  Other Party      Winner
0         Alabama  2000    695602.0    944409.0      32540.0  Republican
1          Alaska  2000     79004.0    167398.0      39158.0  Republican
2         Arizona  2000    685341.0    781652.0      67120.0  Republican
3        Arkansas  2000    422768.0    472940.0      26073.0  Republican
4      California  2000   5861203.0   4567429.0     537224.0    Democrat
5        Colorado  2000    738227.0    883745.0     119393.0  Republican
6     Connecticut  2000    816015.0    561094.0      82416.0    Democrat
7        Delaware  2000    180068.0    137288.0      10266.0    Democrat
8           D. C.  2000    171923.0     18073.0      11898.0    Democrat
9         Florida  2000   2912253.0   2912790.0     138067.0  Republican
10        Georgia  2000   1116230.0   1419720.0      60854.0  Republican
11         Hawaii  2000    205286.0    137845.0      24820.0    Democrat
12          Idaho  2000    138637.0    336937.0      26047.0  Republican
13       Illinois  2000   2589026.0   2019421.0     133676.0    Democrat
14        Indiana  2000    901980.0   1245836.0      51486.0  Republican
15           Iowa  2000    638517.0    634373.0      42673.0    Democrat
16         Kansas  2000    399276.0    622332.0      50608.0  Republican
17       Kentucky  2000    638898.0    872492.0      32797.0  Republican
18      Louisiana  2000    792344.0    927871.0      45441.0  Republican
19          Maine  2000    319951.0    286616.0      45250.0    Democrat
20       Maryland  2000   1145782.0    813797.0      65901.0    Democrat
21  Massachusetts  2000   1616487.0    878502.0     207995.0    Democrat
22       Michigan  2000   2170418.0   1953139.0     109154.0    Democrat
23      Minnesota  2000   1168266.0   1109659.0     160760.0    Democrat
24    Mississippi  2000    404964.0    573230.0      16732.0  Republican
25       Missouri  2000   1111138.0   1189924.0      58830.0  Republican
26        Montana  2000    137126.0    240178.0      33693.0  Republican
27       Nebraska  2000    231780.0    433862.0      31377.0  Republican
28         Nevada  2000    279978.0    301575.0      27417.0  Republican
29  New Hampshire  2000    266348.0    273559.0      29174.0  Republican
..            ...   ...         ...         ...          ...         ...
22       Nebraska  2016    284494.0    495961.0      49652.0  Republican
23  West Virginia  2016    188794.0    489371.0      40128.0  Republican
24          Idaho  2016    189765.0    409055.0     126564.0  Republican
25         Alaska  2016    116454.0    163387.0      40084.0  Republican
26        Montana  2016    177709.0    279240.0      33672.0  Republican
27   North Dakota  2016     93758.0    216794.0      24748.0  Republican
28   South Dakota  2016    117458.0    227721.0       8128.0  Republican
29        Wyoming  2016     55973.0    174419.0      24340.0  Republican
30          Maine  2016    357735.0    335593.0      32988.0    Democrat
31     California  2016   8753792.0   4483814.0    1043574.0    Democrat
32       Colorado  2016   1338870.0   1202484.0     189544.0    Democrat
33    Connecticut  2016    897572.0    673215.0      50914.0    Democrat
34       Delaware  2016    235603.0    185127.0      16654.0    Democrat
35          D. C.  2016    282830.0     12723.0      21618.0    Democrat
36         Hawaii  2016    266891.0    128847.0      34490.0    Democrat
37       Illinois  2016   3090729.0   2146015.0     296970.0    Democrat
38       Maryland  2016   1677928.0    943169.0     161488.0    Democrat
39  Massachusetts  2016   1995196.0   1090893.0     201878.0    Democrat
40      Minnesota  2016   1367825.0   1323232.0     282384.0    Democrat
41         Nevada  2016    539260.0    512058.0      73366.0    Democrat
42  New Hampshire  2016    348526.0    345790.0      38406.0    Democrat
43     New Jersey  2016   2148278.0   1601933.0     168070.0    Democrat
44     New Mexico  2016    385234.0    319667.0      37754.0    Democrat
45       New York  2016   4556142.0   2819557.0     338992.0    Democrat
46         Oregon  2016   1002106.0    782403.0     245192.0    Democrat
47   Rhode Island  2016    252525.0    180543.0      32660.0    Democrat
48        Vermont  2016    178573.0     95369.0      62094.0    Democrat
49       Virginia  2016   1981473.0   1769443.0     227124.0    Democrat
50     Washington  2016   1742718.0   1221747.0     383304.0    Democrat
51          Total  2016  65853652.0  62985134.0     759492.0    Democrat

[260 rows x 6 columns]