In [4]:
#Dependencies 
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import csv

# Read the crime data
sal_path = "datasource/US_Median_Salary.csv"
sal_df = pd.read_csv(sal_path)
sal_df.head()

# Function to plot the graph
#def plot_line (x_axis, y_axis, def_color="red"):
#    plt.plot(x_axis, y_axis, color=def_color)
#    plt.grid(True)
#    plt.show()
#    return

,State,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,United States,"61,372","60,309","58,476","55,613","56,479","54,569","54,673","55,520","57,010","57,412","59,534","58,746","58,291","57,674","57,875","57,947","58,609","59,938"
1,Alabama,"51,113","48,237","46,053","43,820","49,876","46,490","46,520","46,120","45,789","50,761","50,028","46,255","46,745","47,651","49,774","51,380","48,800","50,566"
2,Alaska,"72,231","77,351","77,717","70,095","76,387","68,080","62,731","65,178","70,555","73,032","74,657","68,761","70,326","71,632","69,257","72,110","79,616","75,436"
3,Arizona,"61,125","58,328","54,060","51,050","55,453","50,320","53,108","52,839","52,385","53,544","55,957","56,864","56,931","57,039","55,000","54,292","59,270","56,788"
4,Arkansas,"48,829","46,894","44,282","46,560","41,503","41,735","45,114","43,477","41,847","45,180","48,349","45,164","46,126","45,511","42,756","44,253","46,272","42,391"

In [5]:
# Create list and then create a DataFrame
state_list = []
year_list = []
sal_list = []
for index, rows in sal_df.iterrows():
    #state_list.append(sal_df.loc[index, "State"])
    #sal_list.append(sal_df.loc[index, "2017"])
    #year_list.append(2017)
    
    state_list.append(sal_df.loc[index, "State"])
    sal_list.append(sal_df.loc[index, "2016"])
    year_list.append(2016)
    
    state_list.append(sal_df.loc[index, "State"])
    sal_list.append(sal_df.loc[index, "2015"])
    year_list.append(2015)
    
    state_list.append(sal_df.loc[index, "State"])
    sal_list.append(sal_df.loc[index, "2014"])
    year_list.append(2014)
    
    state_list.append(sal_df.loc[index, "State"])
    sal_list.append(sal_df.loc[index, "2013"])
    year_list.append(2013)
    
    state_list.append(sal_df.loc[index, "State"])
    sal_list.append(sal_df.loc[index, "2012"])
    year_list.append(2012)
    
    state_list.append(sal_df.loc[index, "State"])
    sal_list.append(sal_df.loc[index, "2011"])
    year_list.append(2011)
    
    state_list.append(sal_df.loc[index, "State"])
    sal_list.append(sal_df.loc[index, "2010"])
    year_list.append(2010)
    
    state_list.append(sal_df.loc[index, "State"])
    sal_list.append(sal_df.loc[index, "2009"])
    year_list.append(2009)
    
    state_list.append(sal_df.loc[index, "State"])
    sal_list.append(sal_df.loc[index, "2008"])
    year_list.append(2008)
    
    state_list.append(sal_df.loc[index, "State"])
    sal_list.append(sal_df.loc[index, "2007"])
    year_list.append(2007)
    
    state_list.append(sal_df.loc[index, "State"])
    sal_list.append(sal_df.loc[index, "2006"])
    year_list.append(2006)
    
    state_list.append(sal_df.loc[index, "State"])
    sal_list.append(sal_df.loc[index, "2005"])
    year_list.append(2005)
    
    state_list.append(sal_df.loc[index, "State"])
    sal_list.append(sal_df.loc[index, "2004"])
    year_list.append(2004)
    
    state_list.append(sal_df.loc[index, "State"])
    sal_list.append(sal_df.loc[index, "2003"])
    year_list.append(2003)
    
    state_list.append(sal_df.loc[index, "State"])
    sal_list.append(sal_df.loc[index, "2002"])
    year_list.append(2002)
    
    state_list.append(sal_df.loc[index, "State"])
    sal_list.append(sal_df.loc[index, "2001"])
    year_list.append(2001)
    
    #state_list.append(sal_df.loc[index, "State"])
    #sal_list.append(sal_df.loc[index, "2000"])
    #year_list.append(2000)
    

df = pd.DataFrame({"state":state_list,
                    "year": year_list,
                    "salary": sal_list})

df
df['salary'] = df['salary'].str.replace(",", "").astype(int)
df['year'] = df['year'].astype(str)
#df1 = df.loc((df["year"] >= 2001) & (df["year"] <= 2016))

In [6]:
df.to_csv("datasource/salary_out.csv", header=True, index=False)